# Backend
PORT=3001
UMPLESYNC_JAR=/jars/umplesync.jar
UMPLE_JAR=/jars/umple.jar
UMPLESYNC_PORT=5555
MODEL_STORE_PATH=/data/models
EXAMPLE_PATH=/examples
EXECUTION_URL=http://code-exec:4400

# Frontend (build-time)
VITE_API_URL=http://localhost:3001
